In [19]:
%%html
<style>
table{float:left}
</style>

In [ ]:
#Execute Python code
print("Hello, World!")

In [1]:
#Python Indentation 
#Indentation refers to the spaces at the beginning of a code line. indentation in Python is very important.

if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [2]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

In [3]:
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!

In [ ]:
#Python Variables -  Python is an object Orientated Programming Language we store anything into objects

x = 5
y = "Hello, World!"

In [4]:
#Python Variables  - Variables are containers for storing data values.

x = 4       # x is of type int
y = "Sally" # x is now of type str - String variables can be declared either by using single or double quotes
print(x)
print(y)

4
Sally

In [5]:
#Case-Sensitive  

a = 4
A

NameError: name 'A' is not defined

In [ ]:
#Variable Names
#A variable name must start with a letter or the underscore character
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive

In [6]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

In [7]:
# Python allows you to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [8]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
#Python print() function is often used to output variables.

x = "Python is awesome"
print(x)

In [9]:
x = "Python "
y = "is "
z = "awesome "
print(x, y, z)

print(x + y + z)

Python  is  awesome
Python is awesome

In [10]:
#For numbers, the + character works as a mathematical operator
x = 5
y = 10
print(x + y)

15

In [11]:
x = 5
y = "John"
print(x, y)

5 John

## Python Data Types

| Type of Data | Id  |
|:--------|:--------:|
|Text Type |	str  |
|Numeric Types: |	int, float, complex  |
|Sequence Types: |	 list, tuple, range |
|Mapping Type:  |	dict |
|Boolean Type: |	bool |

In [15]:
x = "Hello World"	#str	
type(x)

In [18]:
x = 20	  #int	
type(x)

int

In [ ]:
x = 20.5	#float	
type(x)

In [ ]:
x = 1j	#complex	
type(x)

In [ ]:
x = True	#bool	
type(x)

In [ ]:
x = range(6)	#range	
type(x)

In [49]:
x = ["apple", "banana", "cherry"]	#list	
type(x)
x

['apple', 'banana', 'cherry']

In [ ]:
x = ("apple", "banana", "cherry")	#tuple	
type(x)

In [ ]:
x = {"name" : "John", "age" : 36}	#dict	
type(x)

## Python Operators

| Operator |	Name |	Example	|
|:--------|:--------:|:--------:|
|+	|Addition |	x + y|	
|-	|Subtraction |	x - y|	
|*	|Multiplication |	x * y|	
|/	|Division |	x / y	|
|%	|Modulus |	x % y	|
|**	|Exponentiation |	x ** y	|

## Python Assignment Operators

|Operator|Example|Same As|
|:--------|:--------:|:--------:|
|=	|x = 5	|x = 5|	
|+=	|x += 3	|x = x + 3	|
|-=	|x -= 3	|x = x - 3	|
|*=	|x *= 3	|x = x * 3|

## Functions and modules

Two types of functions:
    
Built-in library function: These are Standard functions in Python that are available to use.
User-defined function: We can create our own functions based on our requirements.

Parts of a function:

def - A function begins with " def "
name - def is followed by the function's name
parenthesis - the name is followed by a pair of parenthesis and a colon ():
              within the parenthesis there are arguments or parameters where values or objects are entered
              when the function is used later in the code.

body lines - Indented within the def are the "body" lines of code which make up the function.

When a function runs, the computer runs its body lines from top to bottom.

In [1]:
def my_function():
  print("Hello from a function")

In [2]:
my_function()

Hello from a function

In [3]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")

Emil Refsnes

In [4]:
def my_function(x):
  return x + 1

# Invoke the function

print(my_function(2))      # Output: 3

3

In [5]:
#Return multiple values

def square_point(x, y, z):
  x_squared = x * x
  y_squared = y * y
  z_squared = z * z
  # Return all three values:
  return x_squared, y_squared, z_squared

In [6]:
square_point(2, 4, 5)

(4, 16, 25)

## Python Modules

A file containing a set of functions you want to include in your application or python session.  Modules also contains variables of all types (arrays, dictionaries, objects).  You create an alias when you import a module, by using the as keyword:

In [8]:
#Re-naming a Module

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

## Pandas dataframes

two-dimensional labeled data structures with columns of potentially different types.

In general, you could say that the pandas DataFrame consists of three main components: the data, the index, and the columns.

In [50]:
#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45
3       380        40

The dir() function is a built-in function to list all the function names (or variable names) in a module.

In [9]:
x = dir(pd)
print(x)

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__deprecated_num_index_names', '__dir__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

## Import From Module

In [ ]:
You can choose to import only parts from a module, by using the from keyword.

In [10]:
from math import pi
pi

3.141592653589793

In [11]:
# but math is not established
math.pi

NameError: name 'math' is not defined

In [12]:
import math as m
m.pi

3.141592653589793

In [13]:
from math import pi as PI
PI

3.141592653589793

# Built-in Functions

Python Functions is a block of statements that return the specific task.

In [15]:
import pandas as pd

data = {
  "calories": [420, 380, 390, 380],
  "duration": [50, 40, 45,40]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

df['calories'].mean()
df['calories'].median()
df['calories'].mode()

0    380
Name: calories, dtype: int64

SyntaxError: invalid syntax (756020290.py, line 1)

In [26]:
import inspect
print(inspect.getfullargspec(pd.DataFrame))

FullArgSpec(args=['self', 'data', 'index', 'columns', 'dtype', 'copy'], varargs=None, varkw=None, defaults=(None, None, None, None, None), kwonlyargs=[], kwonlydefaults=None, annotations={'return': 'None', 'index': 'Axes | None', 'columns': 'Axes | None', 'dtype': 'Dtype | None', 'copy': 'bool | None'})

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
list(df.columns)

['calories', 'duration']

In [33]:
df.dtypes

calories    int64
duration    int64
dtype: object

# Missing data

A situation where no value is stored in an observation (element/cell) within a variable. 

This is a common occurrence that is present whenever analyzing data or creating statistical models  (either computationally or visually).

Why is this important?  

    Most statistical procedures require a complete set of estimates for each variable. 

    Missing data may distort inferences about the population being analyzed

    When the data set is incomplete the data analyst, researcher, or scientist needs to figure out how to deal with it

In [35]:
import pandas as pd
import numpy as np

df = pd.Series([2,3,np.nan,7,10,])

df.isnull()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [36]:
#drop missing data

df.dropna()

0     2.0
1     3.0
3     7.0
4    10.0
dtype: float64

In [43]:
# count missing cells

print(df.isnull().sum())

calories    0
duration    0
dtype: int64

In [45]:
# count total missing cells

print(df.isnull().values.sum())

0

In [38]:
# Import modules
import pandas as pd
import numpy as np


#using the data from the earlier excerise
#change the values lower than -3 to 1


ser = pd.Series([0, 1, 2, 3, 4])

ser.replace(0, 5)

0    5
1    1
2    2
3    3
4    4
dtype: int64

In [42]:
data = {
  "calories": [420, 380, 390, 380],
  "duration": [50, 40, 45,40]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

df.replace(50, 5)
df['duration'].replace(50, 5)

0     5
1    40
2    45
3    40
Name: duration, dtype: int64

## Statistics using Python

In [48]:
from statistics import mean

# list of positive integer numbers
data1 = [1, 3, 4, 5, 7, 9, 2]
 
x = mean(data1)
x

4.428571428571429

In [54]:
from statistics import median

# list of positive integer numbers
data1 = [1, 3, 4, 5, 7, 9, 2]
 
x = median(data1)
x

4

In [59]:
from statistics import mode

# list of positive integer numbers
data1 = [1, 3, 4, 4, 7, 9, 2]
 
x = mode(data1)
x

4

In [60]:
import statistics as s

# list of positive integer numbers
data1 = [1, 3, 4, 4, 7, 9, 2]
 
x = s.variance(data1)
x

7.904761904761905

In [61]:
x = s.stdev(data1)
x

2.811540841738193

In [72]:
experience = [1, 3, 4, 5, 5, 6, 7, 10, 11, 12, 15, 20, 25, 28, 30,35]

salary = [20000, 30000, 40000, 45000, 55000, 60000, 80000, 100000, 130000, 150000, 200000, 230000, 250000, 300000, 350000, 400000]

s.correlation(experience,salary)

0.9929845761480398

## Calculations  (lambda, apply())

We can apply a lambda function to both the columns and rows of the Pandas data frame. 
An anonymous function which we can pass in instantly without defining a name or any thing like a full traditional function.

In [63]:
import pandas as pd

data = {
  "price": [420, 380, 390, 380],
  "quantity": [50, 40, 45,40]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
df

   price  quantity
0    420        50
1    380        40
2    390        45
3    380        40

In [64]:

df = df.assign(Total_Sales = lambda x: (x['price'] * x['quantity']))
 
# displaying the data frame
df

   price  quantity  Total_Sales
0    420        50        21000
1    380        40        15200
2    390        45        17550
3    380        40        15200

## .apply() method.

.apply() method. This function acts as a map() function in Python. It takes a function as an input and applies this function to an entire DataFrame.

In [73]:
# Gather sum of all columns
stat_totals = df.apply(sum, axis=0)
print(stat_totals)

price           1570
quantity         175
Total_Sales    68950
dtype: int64